.myImg{
    /* border: 1px solid blue; */
    border-radius: 50%;
    /* width: 250px; */

}

.background{
    background-color: aqua;
}

.background1{
    background-color: aliceblue;
}

.background2{
    background-color: aqua;
}